/* General */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #323232;
  background: #eeefed;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}
.container::before,
.group::before,
.menu::before,
.container::after,
.group::after,
.menu::after {
  content: ' ';
  display: table;
}
.container::after,
.group::after,
.menu::after {
  clear: both;
}
.container,
.group,
.menu {
  *zoom: 1;
}
a {
  text-decoration: none;
}
strong {
  font-weight: 600;
}
.menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.menu li {
  float: left;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1.25em;
}
.gallery .container {
  padding: 0;
  max-width: 1650px;
}
.fa {
  vertical-align: middle;
}
/* Contact */
.contact-bar,
.personal a {
  color: white;
}
.contact-bar {
  background: #39a3d4;
  font-size: 0.875em; /*14/16*/
}
.personal {
  float: left;
  margin: 2em 0; /*29/14 podle oka*/
  width: 60%;
}
.social {
  float: right;
  margin: 1.28571428571em 0; /*18/14*/
}
.personal li:first-child {
  margin-right: 4%;
}
.personal .fas {
  font-size: 2em; /*28/14*/
  margin-right: 0.35714285714em; /*5/14*/
}
.social .fas {
  font-size: 1.214285714295em; /*17/14*/
}
.social-icon {
  display: block;
  height: 3.42857142857em; /*48/14*/
  width: 3.42857142857em; /*48/14*/
  line-height: 3.28571428571em; /*46/14*/
  color: #989898;
  background: yellow;
  text-align: center;
  border-radius: 0.14285714285em; /*2/14*/
  margin-left: 0.14285714285em; /*2/14*/
  position: relative;
  z-index: 10;
}
.social-icon:hover,
.social-icon:focus {
  color: white;
  background: #5bd0ec;
}
/* Navigation */
.nav-bar {
  background: #f2f2f2;
}
.logo {
  float: left;
  margin: 1.24em 0;
}
.logo a {
  color: #de5728;
  display: block;
  letter-spacing: 0.035em;
}
.logo strong {
  color: #323232;
}
.logo .fas {
  position: relative;
  top: -0.06em;
  left: 0.1em;
}
.navigation {
  float: right;
}
.navigation .fas {
  display: block;
  padding-bottom: 0.625em; /*10/16*/
}
.navigation li {
  border-left: 1px solid #cecece;
}
.navigation li:last-child {
  border-right: 1px solid #cecece;
}
.navigation a {
  color: #a6a6a6;
  display: block;
  padding: 1.85em 0;
  width: 8.5em;
  text-align: center;
  text-transform: uppercase;
}
.selected a,
.navigation a:hover,
.navigation a:focus {
  color: #de5728;
}
/* Article */
.text-center {
  text-align: center;
}
.post-header {
  background: url('../img/coverx.jpg') center -443px no-repeat;
}
.post-title {
  color: white;
  font-size: 2.8125em; /*45/16*/
  font-weight: 600;
  background: #de5728;
  padding: 0.4em 1.02222222222em; /* 18-46/45*/
  border-radius: 0.15555555555em; /*7/45*/
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: -0.04444444444em; /*-2/45*/
  margin: 0.8em 0; /*36/45*/
  position: relative;
  z-index: 10;
}
.post-title:hover {
  transform: skewX(30deg);
  transform: animate__backInDown;
}

.post-content {
  padding: 4em 0 8em;
}
.post-content h2 {
  color: #323232;
  font-weight: 400;
  font-size: 1.875em; /*30/16*/
  line-height: 1.43333333333em; /*42/30*/
  margin-top: 0;
}
.controls,
.menu-dropdown {
  margin: 3.125em auto; /*50/16*/
  text-align: center;
}
.menu-dropdown {
  display: none;
  margin: 2em 0 2.5em;
  font-size: 1.3em;
}
.menu-dropdown select {
  color: white;
  background: #39a3d4;
  border: 1px solid #1990c8;
  border-radius: 0.3em;
  width: 8em;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.5em;
  cursor: pointer;
}
.controls li {
  float: none;
  display: inline-block;
}
.controls a {
  font-size: 1.375em; /*22/16*/
  font-weight: 300;
  color: #39a3d4;
  text-transform: uppercase;
  padding: 0 1.13636363636em; /*25/22*/
  line-height: 2.18181818182em; /*48/22*/
  display: block;
  transition: all 1.5s ease;
}
.controls a:hover,
.controls a:focus,
.controls .selected a {
  color: white;
  background: #39a3d4;
  border-radius: 0.18181818181em; /*4/22*/
}
/* Gallery */

.gallery img {
  width: 33%;
  height: auto;
}
.gallery img:hover,
.gallery img:focus {
  transform: scale(1.05);
  transition: all 0.5s;
}

.gallery {
  font-size: 0; /* aby se smazali mezery mezi obrázky */
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

/* footer */
.pre-footer {
  color: white;
  background: #323232;
  text-align: center;
}
.pre-footer .container {
  padding: 2em 0 2.75em 0;
}
.pre-footer p {
  font-size: 1em; /*16/16*/
  text-transform: uppercase;
  line-height: 26px;
}
.pre-footer .personal {
  width: 100%;
  margin: 1.2em 0 0;
}
.pre-footer li {
  float: none;
  display: inline-block;
}
.pre-footer strong {
  font-size: 1.375em; /*22/16*/
  font-weight: 600;
  text-transform: none;
  display: block;
}

footer {
  font-size: 1em; /*16/16*/
}
footer .logo {
  color: #de5728;
  font-size: 2em; /*32/16*/
  margin: 0.7em;
  margin-left: 0;
}
footer p {
  color: #a6a6a6;
  float: left;
}
footer p a {
  color: #e75652;
  font-weight: 600;
}
footer p,
footer .menu {
  margin: 2em 0 2em 0; /*32-32/16*/
}
footer .menu {
  color: #b92121;
  font-weight: 600;
  text-transform: uppercase;
  float: right;
}
footer .menu a {
  color: #989898;
}
footer .menu a:hover,
footer .menu a:focus {
  text-decoration: underline;
}
footer li::after {
  color: #989898;
  content: '/';
  margin: 0 0.5em; /*8/16*/
}
footer li:last-child::after {
  content: '';
}

/* MEDIA QUERIES */
@media (max-width: 1190px) {
  .nav-bar .container {
    padding-right: 0;
  }
  .navigation li:last-child {
    border-right: none;
  }
}
@media (max-width: 855px) {
  footer p,
  footer .menu {
    width: 100%;
    text-align: center;
  }

  footer .logo {
    margin-bottom: 0;
  }
  footer .author {
    margin-top: 1.7em;
  }
  footer .menu {
    margin-top: 0;
    text-align: center;
    width: 100%;
  }
  footer .menu li {
    float: none;
    display: inline-block;
  }
}
@media (max-width: 840px) {
  .logo {
    margin: 0.8em;
  }
  .navigation a {
    padding: 1em 0;
    width: 7.5em;
  }
  article {
    font-size: 85%;
  }
  .pre-footer {
    font-size: 90%;
  }
  .post-content {
    padding: 3.2em 0 5em;
  }
  .controls {
    display: none;
  }
  .menu-dropdown {
    display: block;
  }
}

@media (max-width: 785px) {
  .gallery img {
    width: 50%;
  }
  .post-content {
    padding-bottom: 0;
  }
  .nav-bar .logo {
    font-size: 2.5em;
    text-align: center;
    margin-left: 0;
  }
  .nav-bar .logo,
  .navigation {
    float: none;
    width: 100%;
  }
  .nav-bar .container {
    padding-left: 0;
  }
  .navigation {
    border-top: 1px solid #cecece;
    text-align: center;
  }
  .navigation li {
    width: 25%;
  }
  .navigation a {
    width: 100%;
  }
  .navigation li:first-child {
    border-left: none;
  }
}

@media (max-width: 605px) {
  .personal {
    width: auto;
  }
  .personal li {
    float: none;
  }
  .personal li:first-child {
    margin-bottom: 0.5em;
  }
  .social {
    font-size: 1.33em;
  }
}

@media (max-width: 527px) {
  .gallery img {
    width: 100%;
  }
}

@media (max-width: 524px) {
  .post-title {
    font-size: 3.2em;
    line-height: 1.1em;
    display: block;
    text-align: center;
  }
}

@media (max-width: 466px) {
  .personal,
  .social {
    width: 100%;
    text-align: center;
  }
  .personal li {
    display: inline-block;
  }
  .social li {
    width: 24%;
    margin: 0 0.4%;
  }
  .social .social-icon {
    width: 100%;
    height: auto;
    line-height: 2.3em;
  }
  .social {
    font-size: 1em;
    margin-top: 0.8em;
  }
  .personal {
    margin: 1.5em 0 0;
  }
}
